<!DOCTYPE html>
<html lang="ko">
  <!--Header-->
  <%- include('common/header'); -%>
  <!--Body-->
  <body>
    <%- include ('navs/navbar-main') -%>
    <div class="container">
      <div class="main-banner"></div>
    </div>
    <div class="rcmds mt-5">
      <div class="container">
        <div class="row mb-4">
          <div class="col-12 mb-5">
            <h2 class="rcmd-text">#나만의 공간을 위한 추천 아이템</h2>
          </div>
          <div
            class="rcmd-large-container d-flex justify-content-evenly col-12"
          >
            <div class="d-flex flex-column rcmd-large" name="cafe">
              <button class="active" type="button">
                <img
                  style="width: 100%"
                  src="../assets/images/coffee.PNG"
                  alt="logo"
                />
              </button>
              <p class="text-center" href="#r-cafe">홈카페</p>
            </div>
            <div class="d-flex flex-column rcmd-large" name="home">
              <button type="button">
                <img
                  style="width: 100%"
                  src="../assets/images/캡처.PNG"
                  alt="logo"
                />
              </button>
              <p class="text-center" href="#r-home">집돌이/집순이</p>
            </div>
            <div class="d-flex flex-column rcmd-large" name="party">
              <button type="button">
                <img
                  style="width: 100%"
                  src="../assets/images/confetti.png"
                  alt="logo"
                />
              </button>
              <p class="text-center" href="#r-party">홈파티</p>
            </div>
            <div class="d-flex flex-column rcmd-large" name="game">
              <button type="button">
                <img
                  style="width: 100%"
                  src="../assets/images/arcade.png"
                  alt="logo"
                />
              </button>
              <p class="text-center" href="#r-game">원룸PC방</p>
            </div>
          </div>
        </div>
        <div class="rcmd-section">
          <%- include("rcmds/cafe/main") %> <%- include("rcmds/home/main") %>
          <%- include("rcmds/party/main") %> <%- include("rcmds/game/main") %>
        </div>
      </div>
    </div>

    <!--Footer-->
    <%- include('common/footer'); -%>
  </body>
</html>
