<div class="rcmd-section-sub d-none active" id="r-cafe">
  <div class="row rcmd-middle">
    <div>
      <a class="rcmd-med-btn active" name="cafe" href="#r-cafe-table"
        >카페감성 테이블</a
      >
      <a class="rcmd-med-btn" name="cafe" href="#r-cafe-cup">갬성돋는 컵/잔</a>
      <a class="rcmd-med-btn" name="cafe" href="#r-cafe-cutlery"
        >포인트 그릇/식기</a
      >
      <a class="rcmd-med-btn" name="cafe" href="#r-cafe-tablecloth"
        >식탁보/테이블매트</a
      >
      <a class="rcmd-med-btn" name="cafe" href="#r-cafe-electronics"
        >홈카페가전</a
      >
    </div>
  </div>
  <br />
  <div class="rcmd-product-container-cafe">
    <%- include("table") %> <%- include("cup") %> <%- include("cutlery") %> <%-
    include("tablecloth") %> <%- include("electronics") %>
  </div>
</div>
