<div class="navbar-container d-none d-md-block">
  <nav class="upper py-2">
    <div class="container">
      <div class="row justify-content-end align-items-center">
        <a class="col-4 navbar-brand text-center" href="/"
          ><img
            class="logo"
            src="../assets/images/logo/logo.png"
            alt="Main Logo"
        /></a>
        <div class="col-4 d-flex justify-content-end">
          <form class="d-flex">
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                placeholder="나인소 통합검색"
                aria-label="search"
              />
              <button class="btn search-button" type="submit">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </nav>
  <nav class="lower category-bar">
    <div class="container d-flex justify-content-center">
      <div class="position-relative toggle-container d-flex">
        <div class="">
          <a class="toggle-dropdown" aria-label="cafe" href="javascript:void(0)"
            >홈카페</a
          >
          <%- include('dropdown/cafe') %>
        </div>
        <div>
          <a class="toggle-dropdown" aria-label="home" href="javascript:void(0)"
            >집돌이/집순이</a
          >
          <%- include('dropdown/home') %>
        </div>

        <div>
          <a
            class="toggle-dropdown"
            aria-label="party"
            href="javascript:void(0)"
            >홈파티</a
          >
          <%- include('dropdown/party') %>
        </div>
        <div>
          <a class="toggle-dropdown" aria-label="game" href="javascript:void(0)"
            >원룸PC방</a
          >
          <%- include('dropdown/game') %>
        </div>
        <div>
          <a class="toggle-dropdown" aria-label="bed" href="javascript:void(0)"
            >침실가구</a
          >
          <%- include('dropdown/bed') %>
        </div>
        <div>
          <a
            class="toggle-dropdown"
            aria-label="living"
            href="javascript:void(0)"
            >거실가구</a
          >
          <%- include('dropdown/living') %>
        </div>
        <div>
          <a
            class="toggle-dropdown"
            aria-label="storage"
            href="javascript:void(0)"
            >수납가구</a
          >
          <%- include('dropdown/storage') %>
        </div>
        <div>
          <a class="toggle-dropdown" aria-label="book" href="javascript:void(0)"
            >서재가구</a
          >
          <%- include('dropdown/book') %>
        </div>
      </div>
    </div>
  </nav>
</div>

<nav class="d-md-none navbar-container">
  <div class="container">
    <div class="row">
      <div class="col-3 d-flex align-items-center justify-content-start">
        <button class="mobile-navbar-icon" id="hamburger" type="button">
          <i class="fas fa-bars"></i>
        </button>
      </div>
      <a class="col-6 navbar-brand text-center" href="/"
        ><img class="logo" src="../assets/images/logo/logo.png" alt="Main Logo"
      /></a>
      <div class="col-3 d-flex justify-content-end">
        <div class="d-flex" id="search-icon">
          <button class="btn mobile-navbar-icon">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="mobile-search-container d-md-none">
  <div class="d-flex" style="padding: 15px">
    <div class="search-area">
      <input type="text" placeholder="나인소 통합검색" />
      <i class="fas fa-search"></i>
    </div>
    <button class="search-escape">취소</button>
  </div>
</div>

<!-- mobile toggle menu -->
<%- include ('navbar-mobile') -%>

<!-- mobile toggle sub-menu cafe -->
<%- include ('mobile-menu/cafe') -%>

<!-- mobile toggle sub-menu cafe -->
<%- include ('mobile-menu/home') -%>

<!-- mobile toggle sub-menu cafe -->
<%- include ('mobile-menu/party') -%>

<!-- mobile toggle sub-menu cafe -->
<%- include ('mobile-menu/game') -%>

<!-- mobile toggle sub-menu cafe -->
<%- include ('mobile-menu/bed') -%>

<!-- mobile toggle sub-menu cafe -->
<%- include ('mobile-menu/living') -%>

<!-- mobile toggle sub-menu cafe -->
<%- include ('mobile-menu/storage') -%>

<!-- mobile toggle sub-menu cafe -->
<%- include ('mobile-menu/book') -%>
