<div class="rcmd-section-sub d-none" id="r-home">
  <div class="row rcmd-middle">
    <div>
      <a class="rcmd-med-btn active" name="home" href="#r-home-furniture"
        >집콕가구</a
      >
      <a class="rcmd-med-btn" name="home" href="#r-home-cushion">쿠션</a>
      <a class="rcmd-med-btn" name="home" href="#r-home-holder">거치대</a>
      <a class="rcmd-med-btn" name="home" href="#r-home-electronics"
        >가전제품</a
      >
      <a class="rcmd-med-btn" name="home" href="#r-home-toy">집콕놀거리</a>
    </div>
  </div>
  <br />
  <div class="rcmd-product-container-home">
    <%- include("furniture") %> <%- include("cushion") %> <%- include("holder")
    %> <%- include("electronics") %> <%- include("toy") %>
  </div>
</div>
